#page-map{
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-map aside{
    width: 200px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}

#page-map aside h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
}